<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  </head>
  <body>
    <div class="app">

      <h1>Code Solving Tracker</h1>

      <div class="buttons">
        <a id="<%= codeid %>" href="<%= codeurl %>" >Tentar agora</a>
        <a class="green" href="#">Resolvido</a>
      </div>

    </div>
  </body>
</html>
