<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  </head>
  <body>
    <div class="app">

      <h1>Code Solving Tracker</h1>

      <div class="buttons">
        <a id="<%= codeid %>" href="<%= codeurl %>" target="_blank" >Tentar agora</a>
        <a class="green" href="#" onclick="markAsSolved(<%= id %>)" >Resolvido</a>
      </div>

    </div>

    <script src="/javascripts/main.js" ></script>

  </body>
</html>
